* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  height: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.colors {
  margin-top: 50px;
  font-size: 25px;
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
}
